@use 'modal';

.main {
  @include modal.main;
}

.header {
  @include modal.header;
}

.content {
  @include modal.content;
}

.icon {
  @include modal.icon;
}

.table {
  @include modal.table;
}

.contentCentered {
  @include modal.content;
  justify-items: center;
  justify-content: center;
  overflow-y: clip;
}

.title {
  @include modal.title;
}

.footer {
  @include modal.footer;
}

.options {
  @include modal.options;
}