html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Serif, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

div::-webkit-scrollbar {
  border: 1px solid lightgray;
  background: whitesmoke;
  width: 0.5vw;
  min-width: 5px;
  &-thumb {
    &:active {
      background: darkgray;
    }
    background: lightgray;
    border-radius: 40%;
  }
}

.header {
  width: 100%;
  min-width: 355px;
  min-height: clamp(60px, 60px, 10vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 12px;
  border-bottom: 2px solid lightgray;
}

.header, .showHeader {
  &-enter {
    animation: showHeader linear 400ms;
  }
  &-exit {
    animation: showHeader reverse linear 400ms;
  }
  div {
    margin: 0 10px;
  }
}

.offeredLanguages, .siteLanguage {
  display: flex;
  &-enter {
    animation: showOfferedLanguages linear 400ms;
  }
  &-exit {
    animation: showOfferedLanguages reverse linear 400ms;
  }
}

@keyframes showOfferedLanguages {
  from {
    transform: translateX(10rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes showHeader {
  from {
    transform: translateY(clamp(-65px, -65px, -10vh));
  }
  to {
    transform: translateY(0);
  }
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 400ms linear;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}