.iconList, .iconListTyping {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px){
    min-height: 32px;
    align-items: flex-end;
  }
  @media screen and (max-height: 600px){
    min-height: 32px;
    align-items: flex-end;
  }
  width: 100%;
  height: fit-content;
  border-bottom: 5px dashed whitesmoke;
  div {
    margin-left: 0.5rem;
  }
}


