.main {
  width: 100vw;
  height: 100vh;
  min-width: 355px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Serif;
  font-size: 2rem;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.picture {
  position: fixed;
  background-image: url("../assets/old-gray-cement-wall-backgrounds_34552-325.webp");
  background-repeat: no-repeat;
  background-size: cover;
}