@mixin defaultMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  background: rgb(247, 247, 247);
  border: 2px solid lightgray;
  border-top: none;
  border-radius: 0 0 50% 50%;
  font-size: 18px;
  padding: 3px;
  margin-right: 5vw;
  z-index: 1;
  &:active {
    .arrowDown, .arrowUp {
      color: dodgerblue;
    }
  }
}

.main, .mainHide, .mainShow {
  @include defaultMain;
}

.mainShow {
  animation: showHeader 300ms;
}

.mainHide {
  animation: showHeader reverse 300ms;
}

@mixin arrowDefault {
  transition: rotate 300ms;
  background: transparent;
  color: darkgray;
  font-size: 24px;
}

.arrowUp, .arrowDown {
  @include arrowDefault;
}

.arrowUp {
  rotate: 180deg;
}
.arrowDown {
  rotate: 0;
}
