.version, .creator {
  color: darkgray;
  font-size: 1.5rem;
  position: absolute;
  bottom: 5px;
  @media screen and (max-width: 440px){
    left: 10px;
  }
}

.version {
  right: 10px;
}

.creator {
  @media screen and (max-width: 440px){
    bottom: 30px;
  }
  left: 10px;
}